/* body,
html {
  height: 100%;
} */

/* Nav & Hero IMage */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a,
li {
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  color: white;
  font-family: sans-serif;
}

.nav__logo img {
  width: 80px;
  margin: 20px 20px;
}

.nav__list li {
  display: inline-block;
  padding: 0 50px;
}

.hero__image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.5)),
    url("https://i.pinimg.com/originals/b0/ca/c8/b0cac88c43bcdfd3f99abd8d3461902a.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero__text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Lucida Sans";
}

.profile-picture img {
  border-radius: 50%;
  width: 200px;
}

/* Button Preference */

.sosmed {
  display: flex;
}

.btn {
  padding: 12px 24px 12px 24px;
  display: inline-block;
  border-radius: 10%;
  opacity: 0.7;
}

.instagram {
  background-color: white;
  color: black;
  margin-right: 20px;
}

.facebook {
  background-color: #3b5998;
  color: white;
}

.btn:hover {
  opacity: 1;
}

.fab {
  margin-right: 5px;
}

.hovertext__ig .hovertext__instagram {
  visibility: hidden;
  width: 120px;
  background-color: black;
  opacity: 0.7;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  right: 100%;
}

.hovertext__fb .hovertext__facebook {
  visibility: hidden;
  width: 120px;
  background-color: black;
  opacity: 0.7;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.hovertext__ig:hover .hovertext__instagram {
  visibility: visible;
}

.hovertext__fb:hover .hovertext__facebook {
  visibility: visible;
}

/* About Page */

section h1 {
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  font-size: 50px;
  border-bottom: 5px solid #a1a1a1;
}

.container__about {
  display: flex;
}

.container__about img {
  margin: 10px 10px 10px 10%;
  height: 680px;
  width: 25%;
}

.biodata dt {
  margin: 0px 25px 30px 10%;
  width: 200px;
  font-size: 24px;
  color: black;
}

.biodata__answer dt {
  margin: 0px 10px 30px 10%;
  width: 500px;
  font-size: 24px;
  color: black;
}

.biodata__answer .ina__ico {
  width: 45px;
  height: 35px;
  position: absolute;
  margin: 0 5px;
}
